<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Algorithm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    
    <header class="header">
        <div class="logo">Lica</div>
        <nav class="header-nav">
            <a href="#">Configurações</a>
            <a href="#">Help</a>
        </nav>
    </header>

    <div class="container">
        <div class="form-selection">
            <form id="upload-form" enctype="multipart/form-data">
                <label for="file-upload">Upload a file (.txt, .csv):</label>
                <input type="file" id="file-upload" name="file-upload" accept=".txt, .csv" required>
            </form>

            <div class="data-options">
                <label><input type="range"    id="train"     name="train" min = 0 max=100 value="100" oninput="updateValue(this.value)"> treino: <span id="trainValue">100%</span></label>
                <label><input type="checkbox" id="normalize" name="normalize">Normalize</label>
                <label><input type="checkbox" id="dropNan" name="dropNan">dropNan</label>
                <label><input type="checkbox" id="encode" name="encode">Encode Categorical Data</label>
            </div>

            <form id="add-algorithm-form" style="margin-top: 20px;">
                <label for="algorithm">Choose an algorithm:</label>
                <select name="algorithm" id="algorithm" disabled>
                    {% for algorithm in algorithms %}
                        <option value="{{ algorithm.name }}">{{ algorithm.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn-add" disabled>Add Algorithm</button>
            </form>
        </div>

        <div class="selected-algorithms" id="selected-algorithms-container" style="display: none;">
            <h2>Selected Algorithms</h2>
            <div id="selected-algorithms">
                {% for algorithm in selected_algorithms %}
                    {% include 'algorithm_item.html' with context %}
                {% endfor %}
            </div>

            <form class="form-submit">
                <button type="button" class="btn-submit", onClick="SubmitAlgorithims(`{{ url_for('submit') }}`)">Submit All</button>
                
            </form>
        </div>
    </div>
</body>
</html>
